<div class="row">
    <a routerLink="/creategroup" class="btn btn-primary mb-3">Create Group</a>
</div>
<div *ngIf = "this.groupsFetched == true">
        <h2>Select any row to Manage Groups</h2>
        <form>
            <div class="form-group">
                  <label>Page Size</label>
                  <select class="form-control" (change)="onPageSizeChanged()"
                  name = "pageSize" [(ngModel)] = "paginationPageSize" #pageSize = "ngModel">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value = "50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                  </select>
                </div>               
              </form>

        <ng-container *ngIf = "this.rowsSelected == true">
<button type="button" class="btn btn-sm btn-primary mr-3 mb-3" (click) = "fetchContacts()" [disabled] = "groupStatus === false">Contacts</button>
<button type="button" class="btn btn-sm btn-secondary mr-3 mb-3" (click) = "editGroupInfo()" [disabled] = "groupStatus === false">Edit</button>
<button type="button" class="btn btn-sm btn-danger mr-3 mb-3" (click) = "deleteGroup()" [disabled] = "groupStatus === false">Delete</button>
<button type="button" class="btn btn-sm btn-primary mr-3 mb-3" (click) = "changeState()">{{stateButton}}</button>
        </ng-container>
		<div>
    <div>
<ag-grid-angular
#agGrid id="myGrid" (selectionChanged)="onSelectionChanged($event)"
(gridReady)="onGridReady($event)"
    style="width: 500px; height: 50px;" 
    class="ag-theme-balham"
    [rowData]="contactGroups"  
    [columnDefs]="columnDefs"
    [gridAutoHeight]="true"
    [rowHeight] = 40
    [enableSorting]="true"
    [enableFilter]="true"
    [rowSelection] = "rowSelection"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationNumberFormatter]="paginationNumberFormatter"
    >
</ag-grid-angular>
</div>
</div>
</div>
<!--<div *ngIf = "contactGroups.length > 0">
<div class="row">

    <div class="col-sm-6 mt-3" *ngFor = "let group of contactGroups">
        <div class="card">
            <h5 class="card-header">{{group.groupName}}</h5>
            <div class="card-body">
                <p class="card-text">{{group.groupDescription}}</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click) = "fetchContacts(group)">Contacts</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click) = "editGroupInfo(group)">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click) = "deleteGroup(group)">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div *ngIf = "contactGroups.length === 0">
No groups Created! Start Creating Groups!!!
</div>-->